body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
	margin: 10px;
}

a{
	text-decoration: none;	
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	font-size: 1.3vw;
	color: rgb(255, 207, 149);
	text-shadow: 5px 5px 5px #462300;
}

.nav-menu{
	position: absolute;
	top: 3%;
	width: fit-content;
	display: inline;
}

video{
	width: 100%;
	height: 100%;
}

.logo{
	position: absolute;
	width: 10%;
	margin-left: 45%;
	margin-top: 2%;
}

.slogan{
	background: linear-gradient(to bottom, #542f12 32%, #a4672b 100%);
	padding-bottom: 50px;
}

.separator-line{
	margin-top: -0.4%;
  	width: 100%;
	margin-bottom: 60px;
}

main{
	margin-top: -2%;
}

h1{
	font-family: 'Alex Brush', cursive;
	font-size: 5vw;
	font-weight:lighter;
	text-align: center;
	color: #c0874e;
	letter-spacing: 1px;
	text-shadow: 5px 5px 3px #462300;
}

.introduction-text{
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	font-size: 2vw;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	color: rgb(255, 207, 149);
}

.produtc{
	width: 100%;
	padding-bottom: -10%;
}

.product-container{
	display: flex;
}

.product-left, .product-right{
	width: 50%;	
}
	
.description-container{
	display: flex;
}

.description-left, .description-right{
	background-color: rgba(255, 228, 196, 0.237);
	width: 50%;
}

h2{
	position: absolute;
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	font-size: 2vw;
	color: #462300;
	margin-left: 42%;	
}

h3{
	text-align: center;
	color: #462300;
	font-size: 2vw;
	text-shadow: 5px 5px 5px #46230020;
}

.product-description{
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	text-align:justify;
	font-size: 1.2vw;
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
}

.details-container{
	display: flex;
}

.details-left, .details-right{
	background-color: rgba(255, 228, 196, 0.237);
	margin: auto;
	text-align: center;
	width: 50%;
	line-height: 10px;
	padding-bottom: 50px;
}

.details-value{
	font-size: 2vw;
	font-family:'Sofia Sans Semi Condensed', sans-serif;
	color: #462300;
}

.details-icon{
	width: 40%;
	margin-bottom: 20px;
}

.details-icon:hover{
	filter:grayscale(100%);
	animation: shake 0.5s ;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

button{
	border-color: #462300;
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	color: #462300;
	padding-top: 5px;
	padding-left: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: large;
	align-items: center;
	background-color: #46230000;
}

button:hover{
	color: white;
	border: #a4672b;
	background-color: #c0874e;
}

.container {
	width: 100%;
	position: relative;
	text-align: center;
	font: 900 5vw 'Alex Brush', cursive;
	background:rgb(255, 179, 86);
	letter-spacing: 1px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  .container:after {
	content: "Every drop ... is a  Waterfall of flavour!";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgba(255,255,255,0) 45%, rgba(255,255,255,0.8) 50%,
	  rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200%;
	animation: shine 8s infinite;
  }
  
  @keyframes shine{
	0% {
	  background-position: -100%;
	}
	100% {
	  background-position: 100%;
	}
  }





.history-picture-container{
	position: relative;
	
	
  }

.history-picture-container img{
	width: 100%;
}

h4{
	font-family:'Sofia Sans Semi Condensed', sans-serif;
	font-size: 3vw;
	margin: 10px;
	color: rgb(255, 179, 86);



}
.first-text-history {
	width: 55%;
	left: 5%;
	top: 25%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.183);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	font-size: 1.5vw;
  }

  .second-text-history {
	width: 55%;
	right: 5%;
	top: 25%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.183);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	font-size: 1.5vw;
  }

  .third-text-history {
	width: 30%;
	left: 4%;
	top: 15%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.183);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	font-size: 1.5vw;
  }

  .fourth-text-history{
	text-align: center;
	width: 30%;
	right: 4%;
	top: 17%;
	position: absolute;
	color: rgb(255, 179, 86);
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	font-size: 1.8vw;
  }

  p span{
	color: rgb(255, 207, 149);
  }

  

















